@font-face {
  font-family: "Montserrat Black";
  src: url("fonts/MontserratBlack.otf");
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("fonts/EuclidCircularB-Light.ttf");
}

@font-face {
  font-family: "EuclidCircularB-SemiBold";
  src: url("fonts/EuclidCircularB-SemiBold.ttf");
}

html {
  font-size: 2rem;
  overflow: hidden;
  color: white;
}

body,
button {
  font-family: "Euclid Circular B";
}

.bold {
  font-family: "EuclidCircularB-SemiBold";
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url("images/bg.png") no-repeat;
  background-size: cover;
  overflow: auto;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 100%;
  height: 100%;
}

.logo {
  width: 300px;
  height: 60px;
}

h1 {
  font-size: 3rem;
  margin: 10px;
}

h3 {
  margin-top: 20px;
  font-size: 0.7rem;
}

h6 {
  margin-top: 20px;
  font-size: 0.5rem;
}
