html {
  font-size: 2rem;
}

body, button {
  font-family: "Montserrat";
  font-weight: 800;
}

p {
  display: inline;
}

.header {
  min-height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.header-name {
  position: absolute;
  top: 30px;
  left: 54px;
}

.bg-primary {
  background-color: #5B37B1;
}

.bg-secondary {
  background-color: #f8c80c;
}

.bg-ternary {
  background-color: #f35564;
}

.bg-we-need-one-more-blue {
  background-color: #363893;
}

.bg-lets-add-some-green {
  background-color: #48C074;
}

.block {
  display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: auto;
  margin-bottom: 0.5rem;
}

.h1 {
  font-size: 8rem;
  line-height: 12rem;
}

.h2 {
  font-size: 4rem;
  line-height: 5rem;
}

.h3 {
  font-size: 2rem;
  line-height: 2.3rem;
}

.h4 {
  font-size: 2rem;
}

.h5 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 0.75rem;
}

strong {
  font-weight: 600;
}

@media (max-width: 800px) {
  .h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .h5 {
    font-size: 1rem;
  }
}

.m1 {
  margin: 1em;
}

.text-primary {
  color: white;
}

.text-secondary {
  color: #f8c80c;
}

.text-ternary {
  color: #f35564;
}

.text-fournary { 
  color: #5B37B1;
}

a {
  color: #363893;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.section {
  position: relative;
  padding: 0 15vh;
  padding-bottom: 40px;
  margin-top: 150px;
}

@media (max-width: 1200px) {
  .section-cube {
    display: none;
  }
}

@media (max-width: 800px) {
  .section {
    padding: 0 3vh;
    margin-top: 100px;
  }
}

.section-no-right {
  padding-right: 0
}

.section-container {
  max-width: 600px;
}

.section-container.right {
  margin-left: auto;
  margin-right: 0;
}

.section span {
  font-weight: 100;
  font-size: 0.8rem;
  font-family: "Helvetica";
  color: #798293;
}

.section-cube {
  height: 100%;
  position: absolute;
  right: 0;
  width: 40%;
  z-index: -1;
}

.section-cube.left {
  left: 0;
}

.event-description {
  margin: 10vh 5vh;
  padding: 5vh;
  margin-bottom: 2vh;
}

.event-description div.text-primary {
  font-size: smaller;
  margin-bottom: 0.5rm;
}

@media (max-width: 800px) {
  .event-description {
    margin: 10vh 0;
  }
}

.event-conferences {
  padding: 10vh;
}

.sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}

@media (max-width: 1200px) {
  .sponsors {
    flex-direction: column;
  }
}

.sponsor-block {
  background-color: #FAFAFA;
  width: 476px;
  height: 485px;
  margin: 15px;
  position: relative;
  display: inline-block;
}

.sponsor-block img {
  width: 260px;
  position: absolute;
  top: 189px;
  left: 109px;
}

.form-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-section-column {
  width: 50%;
  flex: 1 1 500px;
  margin-right: 10px;
}

input, textarea {
  border: 3px solid #E7E7E7;
  padding: 25px 37px;
  margin-bottom: 20px;
  color: #798293;
  font-size: 20px;
  font-family: "Helvetica";
  width: calc(100% - 80px);
}

textarea {
  resize: none;
  height: 150px;
}

button {
  height: 71px;
  width: 301px;
  background-color: #7A4EE5;
  border: none;
  font-size: 28.44px;	
  letter-spacing: -0.2px;	
  line-height: 35px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.pageclip-form__submit {
  position: absolute !important;
}

.pageclip-form__success {
  display: none !important;
}

.map-container {
  display: flex;
  margin-left: -15vh;
  margin-right: 20px;
  margin-top: 86px;
  font-size: 30.44px;
}

.map-container .text-fournary {
  padding-left: 30px;
  padding-top: 30px;
}

#map {
  height: 250px;
  width: 60%;
 }

@media (max-width: 1300px) {
  .map-container {
    margin-left: 0;
    margin-right: 0;
  }

  #map  {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .map-container {
    margin-left: 0;
  }

  .map-container .text-fournary {
    display: none;
  }
}

footer {
  font-size: 20px;
  font-weight: 100;
  font-family: "Helvetica";
  color: #798293;
  padding: 2vh 15vh;
  border-top: 1px solid #e7e7e7;
}

@media (max-width: 800px) {
  footer {
    margin-top: 100px;
  }
}

footer i {
  vertical-align: middle;
}